.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 19% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal-title{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.modal .modal-content .tr{
    background: #f7f7f7
}

.modal .modal-content td{
    border: 1.3px solid #ddd;
    vertical-align: middle;
    padding: 10px;
}

.modal .modal-content td:last-child, .modal .modal-content th:last-child{
    border-right: 0;
}

.modal .modal-content td:first-child, .modal .modal-content th:first-child{
    border-left: 0;
}

.modal .modal-content input[type=radio]{
    height: 21px;
}

/* ------------------------------------------------------------- */

.adminModal {
    overflow: auto;
}

.adminTitle{
    margin: 2% 0;
    font-size: 20px;
    font-weight: 500;
}

.adminModalContent {
    padding: 20px;
}

.adminModalTitle{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.adminModal .adminModalContent .tr{
    background: #f7f7f7
}

.adminModal .adminModalContent td:not(.center tr td){
    border: 1.3px solid #ddd;
    vertical-align: middle;
    padding: 10px;
}

.adminModalContent .center tr:hover{
    background: gray;
    opacity: 0.2;
}

.adminModal .adminModalContent td:last-child, .adminModal .adminModalContent th:last-child{
    border-right: 0;
}

.adminModal .adminModalContent td:first-child, .adminModal .adminModalContent th:first-child{
    border-left: 0;
}

@media screen and (max-width: 1000px) {
	.modal .modal-content td{
		text-align: center;
	}
	
	.modal .modal-content td input{
		width:100%;
	}
}

@media screen and (max-width: 1200px) {
    .section8 .flex {
        margin: 0 0.6% !important;
    }
}

@media screen and (max-width: 1200px) {
	.modal-content{
		margin: 25% auto !important;
		width: 85% !important;
	}
}
